doctype html
html(lang='en')
	head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		title Temperature and Humidity
	body
		.navbar.navbar-default(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Temperature and Humidity Tracker
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						if user
							li(class=(title == 'Members' ? 'active' : ''))
								a(href='/') Members
						if !user
							li(class=(title == 'Register' ? 'active' : ''))
								a(href='/users/register') Register
							li(class=(title == 'Login' ? 'active' : ''))
								a(href='/users/login') Login
					ul.nav.navbar-nav.navbar-right
						if user
							li
								a(href='/users/logout') Logout
			.container
				canvas#room1Temp
			.container
				canvas#room1Hum
			.container
				canvas#room2Temp
			.container
				canvas#room2Hum



		script.
			let room1Temp = document.getElementById('room1Temp').getContext('2d');
			// Global Options
			Chart.defaults.global.defaultFontFamily = 'Lato';
			Chart.defaults.global.defaultFontSize = 18;
			Chart.defaults.global.defaultFontColor = '#777';
			let room1T = new Chart(room1Temp, {
			type: 'bar',
			data: {
			labels: ['8am', '11am', '2pm', '5pm', '8pm', '11pm'],
			datasets: [{
			label: 'Room 1 Temperature',



			data: [
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70)
			],
			backgroundColor:'red',
			
			borderWidth: 1,
			borderColor: '#777',
			}]
			},
			options: {
				title: {
					display: true,
					text: 'Room 1 Temperature',
					fontSize: 25
				},

				layout: {
					padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
					}
				},
				tooltips: {
					enabled: true
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							suggestedMax: 100
						}
					}]
				}
			}


			});


		script.
			let room1Hum = document.getElementById('room1Hum').getContext('2d');
			let room1H = new Chart(room1Hum, {
			type: 'bar',
			data: {
			labels: ['8am', '11am', '2pm', '5pm', '8pm', '11pm'],
			datasets: [{
			label: 'Room 1 Humidity',


			data: [
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40)
			],
			backgroundColor:'blue',
			
			borderWidth: 1,
			borderColor: '#777',
			}]
			},
			options: {
				title: {
					display: true,
					text: 'Room 1 Humidity',
					fontSize: 25
				},

				layout: {
					padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
					}
				},
				tooltips: {
					enabled: true
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							suggestedMax: 100
						}
					}]
				}
			}


			});


		script.
			let room2Temp = document.getElementById('room2Temp').getContext('2d');
			let room2T = new Chart(room2Temp, {
			type: 'bar',
			data: {
			labels: ['8am', '11am', '2pm', '5pm', '8pm', '11pm'],
			datasets: [{
			label: 'Room 2 Temperature',


			data: [
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70),
				Math.floor(Math.random()*20+70)
			],
			backgroundColor:'red',
			
			borderWidth: 1,
			borderColor: '#777',
			}]
			},
			options: {
				title: {
					display: true,
					text: 'Room 2 Temperature',
					fontSize: 25
				},

				layout: {
					padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
					}
				},
				tooltips: {
					enabled: true
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							suggestedMax: 100
						}
					}]
				}
			}


			});


		script.
			let room2Hum = document.getElementById('room2Hum').getContext('2d');
			let room2H = new Chart(room2Hum, {
			type: 'bar',
			data: {
			labels: ['8am', '11am', '2pm', '5pm', '8pm', '11pm'],
			datasets: [{
			label: 'Room 2 Humidity',


			data: [
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40),
				Math.floor(Math.random()*10+40)
			],
			backgroundColor:'blue',
			
			borderWidth: 1,
			borderColor: '#777',
			}]
			},
			options: {
				title: {
					display: true,
					text: 'Room 2 Humidity',
					fontSize: 25
				},

				layout: {
					padding: {
					left: 50,
					right: 0,
					bottom: 0,
					top: 0
					}
				},
				tooltips: {
					enabled: true
				},
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true,
							suggestedMax: 100
						}
					}]
				}
			}


			});
